<a href="https://colab.research.google.com/github/Daviedavie100/freeCodeCamp/blob/main/boilerplate-page-view-time-series-visualizer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

df=pd.read_csv('/content/sample_data/fcc-forum-pageviews.csv')
df

            date   value
0     2016-05-09    1201
1     2016-05-10    2329
2     2016-05-11    1716
3     2016-05-12   10539
4     2016-05-13    6933
...          ...     ...
1299  2019-11-29  171584
1300  2019-11-30  141161
1301  2019-12-01  142918
1302  2019-12-02  220144
1303  2019-12-03  158549

[1304 rows x 2 columns]

In [31]:
df.set_index('date', inplace=True)
df

             value
date
2016-05-09    1201
2016-05-10    2329
2016-05-11    1716
2016-05-12   10539
2016-05-13    6933
...            ...
2019-11-29  171584
2019-11-30  141161
2019-12-01  142918
2019-12-02  220144
2019-12-03  158549

[1304 rows x 1 columns]

In [40]:
df.rename(columns={'value':'page_views'}, inplace=True)
df

            page_views
date
2016-05-09        1201
2016-05-10        2329
2016-05-11        1716
2016-05-12       10539
2016-05-13        6933
...                ...
2019-11-29      171584
2019-11-30      141161
2019-12-01      142918
2019-12-02      220144
2019-12-03      158549

[1304 rows x 1 columns]

In [59]:
#Clean the data by filtering out days when the page views were in the top 2.5% of the dataset or bottom 2.5% of the dataset.
df[df['page_views']==df.iloc[:,0].quantile(0.025)]

Empty DataFrame
Columns: [page_views]
Index: []